/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-projects-projects {
	background-color: #000;
	color: #fff;
	padding: 2px;
}
